<!DOCTYPE html>
<html lang="{{ conf.lang }}">
    <head>
        {% block head -%}
        <!--  SEO STUFF START HERE -->
        <title>{% block title %}{% endblock %}</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="robots" content="follow, index" />
        <!--  SEO STUFF END -->
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--  revolution slider plugin : begin -->        
        <link rel="stylesheet" type="text/css" href="{{ env.path + 'rs-plugin/css/settings.css' }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ env.path + 'css/rs-responsive.css' }}" media="screen" />
        <!--  revolution slider plugin : end -->
        <link rel="stylesheet" href="{{ env.path + 'css/bootstrap.css' }}" />
        <link rel="stylesheet" href="{{ env.path + 'css/custom.css' }}" />
        <link rel="stylesheet" href="{{ env.path + 'css/isotope.css' }}" />
        <link rel="stylesheet" href="{{ env.path + 'css/color_scheme.css' }}" />
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ env.path + 'css/font-awesome.css' }}" />
        <link rel="stylesheet" href="{{ env.path + 'css/font-awesome-ie7.css' }}" />
        <link rel="stylesheet" href="{{ env.path + 'css/flexslider.css' }}" />
        <link rel="stylesheet" href="{{ env.path + 'css/jquery.fancybox.css?v=2.1.0' }}" type="text/css" media="screen" />
        <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="{{ env.path + 'css/IE-fix.css' }}" />
        <![endif]-->

        {% if 'sitemap' in env.views -%}
        <link href="{{ env.views.sitemap.path }}" type="application/xml" rel="sitemap" title="Sitemap">
        {%- endif%}

        {%- endblock %}
    </head>
    <body>
        <!-- THE LINE AT THE VERY TOP OF THE PAGE -->
        <div class="top_line"></div>

        <!-- HEADER AREA -->
        <header>
            <div class="container">
                <div class="row">
                    <!-- HEADER: LOGO AREA -->
                    <div class="span4 logo">
                        <a class="logo" href="base.html">
                            <img alt="logo" title="bizstrap" src="/img/logo.png">
                        </a>
                    </div>

                    <!-- HEADER: PHONE NUMBER -->
                    <div class="span4 offset4">
                        <p class="head_phone"><a href="tel:+39-075-843667">(+39) 075 843667</a></p>
                    </div>

                    <!-- HEADER: SOCIAL ICONS -->
                    <ul class="socials unstyled">
                        <li><a class="flickr" href="http://www.flickr.com/photos/evonovesrl/"></a></li>
                        <li><a class="twitter" href="https://twitter.com/evonove"></a></li>
                        <li><a class="facebook" href="https://www.facebook.com/evonovesrl"></a></li>
                        <li><a class="linkedin" href="http://www.linkedin.com/company/evonove"></a></li>
                        <li><a class="vimeo" href="http://vimeo.com/user11262087"></a></li>
                        <li><a class="gplus" href="https://plus.google.com/111644060204650622285/"></a></li>
                    </ul>
                </div>
            </div>

            <!-- HEADER: PRIMARY SITE NAVIGATION -->
            <div class="container">
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            <div class="buttons-container">
                            </div>
                            <div class="nav-collapse">
                            {{ env.get_globals('navmenu', env.lang).content }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT AREA -->
        <div class="main-content">
        {%- block content -%}
        {%- endblock -%}
        </div>

        <!-- FOOTER STARTS HERE -->
        <footer id="footer">
            {% block footer %}
            <div class="footer-top"></div>
            <div class="footer-wrapper">
                <div class="container">
                    <div class="row show-grid">
                        <div class="span12">
                            <div class="row show-grid">
                                <!-- FOOTER: LOGO -->
                                <div class="span4">
                                    <img alt="" class="footer-logo" src="/img/grey_logo.png" />
                                    <!-- FOOTER: ADDRESS -->
                                    <address class="address">
                                        <p><i class="icon-map-marker icon-large"></i>via Fra' Filippo Longo 16</p>
                                        <p><i>&nbsp;</i>06063 - Magione (PG)</p>
                                        <p><i class="icon-phone icon-large"></i>Phone: (+39) 075 843667</p>
                                        <p><i class="icon-print icon-large"></i>Fax: (+39) 075 843667</p>
                                    </address>
                                </div>
                                <!-- FOOTER: ABOUT US -->
                                <div class="span4 footer-center">
                                    {{ env.get_globals('footer_about', env.lang).content }}
                                </div>
                                <!-- FOOTER: NAVIGATION LINKS -->
                                <div class="span4 footer-right">
                                    {{ env.get_globals('footer_navmenu', env.lang).content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row show-grid">
                        <!-- FOOTER: COPYRIGHT TEXT -->
                        <div class="span12">
                            <p>Built with <a href="https://github.com/posativ/acrylamid">Acrylamid</a> v.{{env.version}} - Copyright {{env.current_year}} Evonove SRL - P.I. IT03120810548</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
        </footer>
        <!-- END FOOTER -->

        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ env.path + 'js/bootstrap.js' }}"></script>
        <script type="text/javascript" src="{{ env.path + 'js/jquery.flexslider-min.js' }}"></script>
        <script type="text/javascript" src="{{ env.path + 'js/jquery.isotope.js' }}"></script>
        <script type="text/javascript" src="{{ env.path + 'js/jquery.fancybox.pack.js?v=2.1.0' }}"></script>
        <script type="text/javascript" src="{{ env.path + 'rs-plugin/js/jquery.themepunch.plugins.min.js' }}"></script>
        <script type="text/javascript" src="{{ env.path + 'rs-plugin/js/jquery.themepunch.revolution.min.js' }}"></script>
	    <script type="text/javascript" src="{{ env.path + 'js/revolution.custom.js' }}"></script>
	    <script type="text/javascript" src="{{ env.path + 'js/custom.js' }}"></script>
    </body>
</html>
