{% extends "base.html" %}

{% block title %}{{ conf.sitename }} Blog{% endblock %}

{% block content %}
    <div class="container">
        <div class="row show-grid">
            <div class="span12">
                <div class="row show-grid clear-both">

                    <div class="span9 main-column two-columns-right">
                        <!-- BEGIN POSTS -->
                        {% for entry in env.entrylist %}
                        <div class="post-item">
                            <h2><a href="{{entry.permalink}}">{{ entry.title }}</a></h2>
                            {% if entry.image %}
                            <div style="float:left;margin-right:15px;">
                            <img alt="" src="{{entry.image}}" class="img-rounded thumbnail"/>
                            </div>
                            {% endif %}
                            <div class="post-description justified">
                                {{entry.content}}
                            </div>
                            <a class="post-more" href="{{entry.permalink}}">Continue Reading&nbsp;&raquo;</a>
                            <div class="post-item-panel">
                                <ul>
                                    <li class="date">
                                        <p><i class="icon-calendar"></i>{{ entry.date|date_format('en') }}</p>
                                    </li>
                                    <li><p><i class="icon-user"></i><a href="/staff/{{entry.author}}/">{{ entry.author }}</a></p></li>
                                    <li><p><i class="icon-tags"></i>
                                    {% for tag in entry.tags%}
                                        <a href="">{{tag}}</a>{% if not loop.last %},{% endif %}
                                    {% endfor %}
                                    </p></li>
                                </ul>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- END POSTS -->

                        {% if env.next or env.prev %}
                        <div class="bs-docs-example">
                            <ul class="pager">
                                {% if env.prev %}
                                <li class="previous"><a href="{{ env.prev }}">← Older</a></li>
                                {% endif %}
                                {% if env.next is not none %}
                                <li class="next"><a href="{{ env.next }}">Newer →</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>

                    <div id="right-sidebar" class="span3 sidebar">
                        <div class="tags-widget sidebar-block">
                            <h2>Tags</h2>
                            <ul>
                                {% for t in env.tags %}
                                <li><p><i class="icon-tags"></i><a href="#">{{t}}</a></p></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="text-widget sidebar-block">
                            <h2>{{ env.license['en'].title }}</h2>
                            <p>{{ env.license['en'].content }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <hr>

    </div>
{% endblock %}
