{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row show-grid">
            <div class="span12">
                <div class="row show-grid clear-both">
                    <div class="span9 main-column two-columns-right">
                        <h1>{{ entry.title }}</h1>
                        {{entry.content}}
                        <div class="post-item-panel">
                            <ul>
                                <li class="date">
                                    <p><i class="icon-calendar"></i>{{ entry.date|date_format(env.lang) }}</p>
                                </li>
                                <li><p><i class="icon-user"></i>{{ entry.author }}</p></li>
                                <li><p><i class="icon-tags"></i>
                                {% for tag in entry.tags%}
                                    <a href="">{{tag}}</a>{% if not loop.last %},{% endif %}
                                {% endfor %}
                                </p></li>
                            </ul>
                        </div>
                        <div class="post-socials">
                            <h2>Social Share</h2>
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_preferred_1"></a>
                                <a class="addthis_button_preferred_2"></a>
                                <a class="addthis_button_preferred_3"></a>
                                <a class="addthis_button_preferred_4"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-503f5c291ae38f65"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <div id="right-sidebar" class="span3 sidebar">
                        <div class="author-widget sidebar-block">
                            <h2>{{ entry.author }}</h2>
                            <img alt="" src="/img/placeholder_60_60.png" />
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
                        </div>
                        <div class="text-widget sidebar-block">
                            <h2>{{ env.license[env.lang].title }}</h2>
                            <p>{{ env.license[env.lang].content }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
