{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row show-grid">
            <div class="span12">
                <div class="row show-grid clear-both">
                    <div class="span9 main-column two-columns-right">
                        <h1>{{ entry.title }}</h1>
                        {{entry.content}}
                        <div class="post-item-panel">
                            <ul>
                                <li class="date">
                                    <p><i class="icon-calendar"></i>{{ entry.date|date_format(env.lang) }}</p>
                                </li>
                                <li><p><i class="icon-user"></i>{{ entry.author }}</p></li>
                                <li><p><i class="icon-tags"></i>
                                {% for tag in entry.tags%}
                                    <a href="">{{tag}}</a>{% if not loop.last %},{% endif %}
                                {% endfor %}
                                </p></li>
                            </ul>
                        </div>
                        <div class="post-socials">
                            <h2>Social Share</h2>
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style ">
                                <a class="addthis_button_preferred_1"></a>
                                <a class="addthis_button_preferred_2"></a>
                                <a class="addthis_button_preferred_3"></a>
                                <a class="addthis_button_preferred_4"></a>
                                <a class="addthis_button_compact"></a>
                                <a class="addthis_counter addthis_bubble_style"></a>
                            </div>
                            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-503f5c291ae38f65"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <div id="right-sidebar" class="span3 sidebar">
                        <div class="sidebar-news-widget sidebar-block">
                            <h2>Recent Posts Widget</h2>
                            <ul>
                                <li>
                                    <a class="photo" href="#">
                                        <img alt="" src="img/blog-widget01.jpg" />
                                    </a>
                                    <p>
                                    <a href="">Time Management for Designers</a>
                                    </p>
                                    <p class="date"><i class="icon-calendar"></i>July 25, 2012</p>
                                </li>
                                <li>
                                    <a class="photo" href="#">
                                        <img alt="" src="img/blog-widget02.jpg" />
                                    </a>
                                    <p>
                                    <a href="">Designing for Mobile Devices</a>
                                    </p>
                                    <p class="date"><i class="icon-calendar"></i>July 15, 2012</p>
                                </li>
                                <li>
                                    <a class="photo" href="#">
                                        <img alt="" src="img/blog-widget03.jpg" />
                                    </a>
                                    <p>
                                    <a href="">What's New in Silicon Valley</a>
                                </p>
                                    <p class="date"><i class="icon-calendar"></i>July 10, 2012</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
