{% extends "base.html" %}

{% block title %}{{ conf.sitename }}{% endblock %}

{% block head %}
    {{- super() }}
    {%- if entry is defined %}
    <meta name="description" content="{{ entry.description | e }}" />
    <meta name="keywords" content="{{ entry.tags | join(', ') }}" />
    {%- endif -%}
{% endblock %}

{% block content %}
    <div class="container">
        <!-- MAIN CONTENT AREA: SLIDER BANNER (REVOLUTION SLIDER) -->
        <div class="bannercontainer" >
            <div class="banner" >
                <ul>
                    {% for banner in env.entry_dict.banners %}
                    <li class="slide2" data-transition="slideleft" data-slotamount="10"  data-masterspeed="300">
                        <img alt="" src="{{banner.props.image}}" />
                        <div class="caption sft carousel-caption" data-x="472" data-y="69" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none;">
                            <p class="middle">{{banner.title}}</p>
                        </div>
                        <div class="caption sfr carousel-caption" data-x="462" data-y="107" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                            <p class="big">20% of all web</p>
                        </div>
                        <div class="caption sfl carousel-caption" data-x="462" data-y="156" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                            <p class="big">traffic today is from</p>
                        </div>
                        <div class="caption sfl carousel-caption" data-x="462" data-y="205" data-speed="1000" data-start="1000" data-easing="easeOutBack" style="background: none;">
                            <p class="big">mobile devices</p>
                        </div>
                        <div class="caption sfb carousel-caption" data-x="474" data-y="262" data-speed="1000" data-start="1000" data-easing="easeInBack" style="background: none; width: 436px;">
                            {{banner.content}}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>

        <div class="row main-block">
            <div class="span12">
                <div class="row">
                    <!-- MAIN CONTENT AREA: REDESIGN CUSTOM - HERO BLOCK 1 (TEXT BLOCK)] -->
                    <div class="span6 home-block hero-block-1">
                        {{ env.entry_dict.homepage.content}}
                    </div>

                    <!-- MAIN CONTENT AREA: SPACER BETWEEN HERO BLOCK 1 AND HEREO BLOCK 2 -->
                    <div class="span1"></div>

                    <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 2 -->
                    <div class="span5 home-block">
                        <div class="grey-box hero-block-2">
                            {{ env.entry_dict.callout.content }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row main-block">
            <div class="span12">
                <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO LIST -->
                <div class="row show-grid hero-list">
                    {% for e in env.entry_dict.hero_list %}
                    <div class="span3">
                            <div class="image-wrapper">
                                <img alt="" src="{{e.props.image}}" />
                            </div>
                        {{ e.content }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="horizontal-divider span12"></div>
        </div>

        <div class="portfolio-grid-1 main-block">
                    <div class="title-wrapper">
                        <h2>Check out our awesome latest work</h2><a class="all" href="#">Show all works&nbsp;»</a>
                    </div>
                    <div class="clear-both"></div>
                    <div id="home_responsive" class="row show-grid isotope" style="position: relative; overflow: hidden; height: 360px;">
                        <div class="span3 small hp-wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
                            <a class="fancy" href="img/gal_2.jpg">
                                <img alt="" class="hover-shade" src="img/220_1_hover.png">
                            </a>
                            <a class="top-link" href="#"><img alt="" src="img/item_220-160_08.jpg"></a>
                            <div class="bottom-block">
                                <a href="#">Integer posuere</a>
                                <p>UI Design</p>
                            </div>
                        </div>
                        <div class="span6 middle hp-wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(240px, 0px, 0px);">
                            <a class="fancy" href="img/img05.jpg"><img alt="" class="hover-shade" src="img/460_hover.png">
                            </a>
                            <a class="top-link" href="#">
                                <img alt="" style="width: 460px; height: 160px;" src="img/item_460-160_01.jpg">
                            </a>
                            <div class="bottom-block">
                                <a href="#">Pellen tesque ornare</a>
                                <p>Graphic Design</p>
                            </div>
                        </div>
                        <div class="span6 middle hp-wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(0px, 180px, 0px);">
                            <a class="fancy" href="img/img07.jpg"><img alt="" class="hover-shade" src="img/460_hover.png">
                            </a>
                            <a class="top-link" href="#"><img alt="" style="width: 460px; height: 160px;" src="img/item_460-160_03.jpg"></a>
                            <div class="bottom-block">
                                <a href="#">Pellen tesque ornare</a>
                                <p>Graphic Design</p>
                            </div>
                        </div>
                        <div class="span3 tall hp-wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(720px, 0px, 0px);">
                            <a class="fancy" href="img/img08.jpg"><img alt="" class="hover-shade" src="img/220_2_hover.png">
                            </a>
                            <a class="top-link" href="#"><img alt="" style="width: 220px; height: 340px;" src="img/item_460-340_03.jpg"></a>
                            <div class="bottom-block">
                                <a href="#">Pellen tesque ornare</a>
                                <p>Graphic Design</p>
                            </div>
                        </div>
                        <div class="span3 small hp-wrapper isotope-item" style="position: absolute; left: 0px; top: 0px; -webkit-transform: translate3d(480px, 180px, 0px);">
                            <a class="fancy" href="img/gal_7.jpg"><img alt="" class="hover-shade" src="img/220_1_hover.png">
                            </a>
                            <a class="top-link" href="#"><img alt="" style="width: 220px; height: 160px;" src="img/item_220-160_01.jpg"></a>
                            <div class="bottom-block">
                                <a href="#">Integer posuere</a>
                                <p>UI Design</p>
                            </div>
                        </div>
                    </div>
        </div>

        <hr>

        <div class="main-block testimonials">
            <!-- MAIN CONTENT AREA: bizstrap CUSTOM - HERO BLOCK 3 -->
            <div class="row show-grid">
                <div class="span12 grey-box">
                    <div class="hero-block3">
                        <div class="row show-grid">
                            <div class="span9">
                                <div class="hero-content-3">
                                    <h2>Iscriviti alla newsletter</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Integer sed arcu massa.</p>
                                </div>
                            </div>
                            <div class="span3">
                                <div class="tour-btn">
                                    <a href="#" class="btn btn-warning">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT POSTS BLOACK (ORIGINALLY DESIGNED FOR HOME PAGE) -->
                <div class="main-block block-posts">
                    <div class="title-wrapper">
                        <h2>Recent Posts</h2><a href="#" class="all">Visit the full blog&nbsp;&raquo;</a>
                    </div>
                    <div class="row show-grid clear-both">
                        <div class="span12">
                            <div class="row show-grid">
                                <div class="span3">
                                    <a class="block-post-img" href="#">
                                        <img alt="" src="img/block_post_img1.jpg" class="img-rounded" />
                                    </a>
                                    <a class="block-post-title" href="#">Time Management for Designers</a>
                                    <p class="block-post-date">July 25, 2012</p>
                                    <p class="block-post-content">Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
                                    <a class="block-post-more" href="#">Read more&nbsp;&raquo;</a>
                                </div>
                                <div class="span3">
                                    <a class="block-post-img" href="#">
                                        <img alt="" src="img/block_post_img2.jpg" class="img-rounded" />
                                    </a>
                                    <a class="block-post-title" href="#">Designing for Mobile Devices</a>
                                    <p class="block-post-date">July 15, 2012</p>
                                    <p class="block-post-content">Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
                                    <a class="block-post-more" href="#">Read more&nbsp;&raquo;</a>
                                </div>
                                <div class="span3">
                                    <a class="block-post-img" href="#">
                                        <img alt="" src="img/block_post_img3.jpg" class="img-rounded" />
                                    </a>
                                    <a class="block-post-title" href="#">What's New in Silicon Valley</a>
                                    <p class="block-post-date">July 10, 2012</p>
                                    <p class="block-post-content">Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
                                    <a class="block-post-more" href="#">Read more&nbsp;&raquo;</a>
                                </div>
                                <div class="span3 last">
                                    <a class="block-post-img" href="#">
                                        <img alt="" src="img/block_post_img4.jpg" class="img-rounded" />
                                    </a>
                                    <a class="block-post-title" href="#">Effective SEO for Site Managers</a>
                                    <p class="block-post-date">July 8, 2012</p>
                                    <p class="block-post-content">Ut non libero magna. Sed et quam lacus. Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat.</p>
                                    <a class="block-post-more" href="#">Read more&nbsp;&raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <!-- MAIN CONTENT AREA: bizstrap CUSTOM - RECENT TWEETS BAR -->
            <div class="recent-tweets">
                <div class="container">
                    <div class="row show-grid">
                        <div class="span12 twitter-wrapper">
                            <div id="nav_t"></div>
                            <div class="tweets-slide"><ul class="slides"></ul></div>
                            <a class="follow_img" href="#"><img alt="" src="/img/follow.png" /></a>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
